
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #9e87ce;
    background-color: #403438;
}
.main section {
    margin: 0;
    height: 100vh;
}

.main section:nth-child(odd) {
    background-color: rgb(158, 158, 96);
}

.main section:nth-child(even) {
    background-color: #9bf6ff;
}

.main section h1 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    padding: 50px 0 20px;
    text-align: center;
}

#pagination {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 30px;
    list-style: none;
    z-index: 2;

}

#pagination li {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin: 20px 0;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

}

#pagination li:hover {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

#pagination a {
    position: absolute;
    text-decoration: none;
    border-radius: 100%;
    background-color: white;
    display: flex;


    left: 2.75px;
    top: 2.75px;
    color: inherit;
    width: 65%;
    height: 65%;
}

body.page-1 #pagination li:nth-of-type(1),
body.page-2 #pagination li:nth-of-type(2),
body.page-3 #pagination li:nth-of-type(3),
body.page-4 #pagination li:nth-of-type(4),
body.page-5 #pagination li:nth-of-type(5) {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// menu one */









svg {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */
.cd-nav-trigger {
    /* hamburger icon */
    position: absolute;
    z-index: 3;
    top: 12px;
    right: 5%;
    height: 44px;
    width: 44px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.cd-nav {
  display: block;
}
.cd-nav-trigger span {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 32px;
    height: 3px;
    background-color: black;
}

.cd-nav-trigger span::before,
.cd-nav-trigger span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s, width 0.2s;
    -moz-transition: -moz-transform 0.2s, width 0.2s;
    transition: transform 0.2s, width 0.2s;
}

.cd-nav-trigger span::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.cd-nav-trigger span::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}





@media only screen and (min-width: 1024px) {
    .cd-nav-trigger {
        top: 38px;
    }
}


.cd-nav-container {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    background-color: #ffffff;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0.4s;
    -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0.4s;
    transition: transform 0.4s 0s, box-shadow 0s 0.4s;
}

.cd-nav-container.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-overflow-scrolling: touch;
    box-shadow: -4px 0 30px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 0.4s 0s, box-shadow 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, box-shadow 0s 0s;
    transition: transform 0.4s 0s, box-shadow 0s 0s;
}

.cd-nav-container header {
    padding: 1.5em 0 0 6.25%;
    height: 68px;
    position: relative;
}

.cd-nav-container h3 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Lora", serif;
    text-transform: uppercase;
    color: #5c4b51;
}

.cd-nav li {
  list-style: none;
}
.cd-nav li:hover{
  background-color: #F5B65A;
}
@media only screen and (min-width: 700px) {
    .cd-nav-container {
        width: 70%;
    }

    .cd-nav-container header {
        height: 116px;
        padding-top: 1em;
    }
}

.cd-close-nav {
    /* 'X' close icon */
    position: absolute;
    height: 44px;
    width: 44px;
  
    right: 6.25%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
   
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cd-close-nav::after,
.cd-close-nav::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 32px;
    left: 50%;
    top: 50%;
    background-color: #5c4b51;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-close-nav::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.cd-close-nav::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}


@media only screen and (min-width: 700px) {
    .cd-close-nav {
        right: 7.14%;
    }
}

.cd-nav {
    background-color: #f2f2f2;
}

.cd-nav::after {
    clear: both;
    content: "";
    display: table;
}

.cd-nav li {
    width: 50%;
    float: left;
    height: calc((100vh - 68px)/3);
    min-height: 120px;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
}

.cd-nav li:nth-of-type(2n) {
    border-right-width: 0;
}

.cd-nav a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-nav span,
.cd-nav em {
    position: absolute;
}

.cd-nav span {
    top: calc(50% - 48px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 48px;
    width: 48px;
}

.cd-nav span * {
    -webkit-transition: stroke 0.2s;
    -moz-transition: stroke 0.2s;
    transition: stroke 0.2s;
}

.cd-nav em {
    width: 100%;
    left: 0;
    top: calc(50% + 15px);
    color: #5c4b51;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media only screen and (min-width: 700px) {
    .cd-nav li {
        /* 116px is the navigation header height and the menu items will be allocated in 3 rows */
        height: calc((100vh - 116px)/3);
        min-height: 200px;
    }

    .cd-nav span {
        height: 64px;
        width: 64px;
        top: calc(50% - 56px);
    }

    .cd-nav em {
        font-size: 2.2rem;
        font-weight: 300;
        top: calc(50% + 21px);
    }
}

@media only screen and (min-width: 1024px) {
    .cd-nav li {
        width: 31.33%;
        float: left;
        height: calc((100vh - 116px)/2);
        min-height: 250px;
    }

    .cd-nav li:nth-of-type(2n) {
        border-right-width: 1px;
    }

    .cd-nav li:nth-of-type(3n) {
        border-right-width: 0;
    }

    .cd-nav em {
        font-size: 2.5rem;
    }
}


.cd-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.35);
    visibility: hidden;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}



main {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    box-shadow: 0 0 30px #241d20;
}



.cd-section {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0s 0.4s;
    -moz-transition: -moz-transform 0s 0.4s;
    transition: transform 0s 0.4s;
}

.cd-section {
    position: relative;
    z-index: 2;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.4s 0s;
    -moz-transition: -moz-transform 0.4s 0s;
    transition: transform 0.4s 0s;
    -webkit-overflow-scrolling: touch;
}

.cd-section header {
    height: 100vh;
    background: #9e87ce;
    position: relative;
}

.cd-section.projects header {
    background-color: #5c4b51;
}

.cd-section.about header {
    background-color: #e0cf75;
}

.cd-section.services header {
    background-color: #f5b65a;
}

.cd-section.careers header {
    background-color: #f25f5c;
}

.cd-section.contact header {
    background-color: #8abeb2;
}

@media only screen and (min-width: 700px) {
    .cd-section {
        header: 102vh;
    }
}

.cd-title {
    position: relative;
    top: 48%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ffffff;
    text-align: center;
}

.cd-title>* {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-title h2 {
    font-size: 2.8rem;
    margin-bottom: .8em;
}

.cd-title a {
    display: inline-block;
    padding: 1.2em 1.6em;
    border-radius: 50em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-weight: 700;
    color: #ffffff;
    font-family: "Lora", serif;
}


.cd-title span {
    vertical-align: middle;
    display: inline-block;
}

@media only screen and (min-width: 700px) {
    .cd-title h2 {
        font-size: 5rem;
        font-weight: 300;
        margin-bottom: .6em;
    }
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// menu two */















/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #003c5d;
    background-color: #ffffff;
  }
  
  a {
    color: #9acd91;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  

  .cd-stretchy-nav2 {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 5%;
    pointer-events: none;
  }
  .cd-stretchy-nav2 .stretchy-nav-bg {
    
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #9acd91;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
  }
  .cd-stretchy-nav2.nav-is-visible {
    pointer-events: auto;
  }
  .cd-stretchy-nav2.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  }
  
  .cd-nav-trigger2 {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    pointer-events: auto;
  }
  .cd-nav-trigger2 span, .cd-nav-trigger2 span::after, .cd-nav-trigger2 span::before {
    
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
  }
  .cd-nav-trigger2 span {
    
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .cd-nav-trigger2 span::after, .cd-nav-trigger2 span::before {
    
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
  }
  .cd-nav-trigger2 span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  .cd-nav-trigger2 span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  .no-touch .cd-nav-trigger2:hover ~ .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  }
  .nav-is-visible .cd-nav-trigger2 span {
    background-color: transparent;
  }
  .nav-is-visible .cd-nav-trigger2 span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .nav-is-visible .cd-nav-trigger2 span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .cd-stretchy-nav2 ul {
    position: relative;
    z-index: 2;
    padding: 60px 0 0;
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    -moz-transition: visibility 0.3s;
    transition: visibility 0.3s;
    text-align: right;
  }
  .cd-stretchy-nav2 ul a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
  }
  .cd-stretchy-nav2 ul a::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: .6;
    background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
  }
  .cd-stretchy-nav2 ul a::before {
    
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    right: 60px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
    -o-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
    background-color: #0a9581;
  }
  .cd-stretchy-nav2 ul li:first-of-type a::after {
    /* change custom icon using image sprites */
    background-position: -32px 0;
  }
  .cd-stretchy-nav2 ul li:nth-of-type(2) a::after {
    background-position: -64px 0;
  }
  .cd-stretchy-nav2 ul li:nth-of-type(3) a::after {
    background-position: -48px 0;
  }
  .cd-stretchy-nav2 ul li:nth-of-type(4) a::after {
    background-position: 0 0;
  }
  .cd-stretchy-nav2 ul li:nth-of-type(5) a::after {
    background-position: -16px 0;
  }
  .cd-stretchy-nav2 ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  
  .cd-stretchy-nav2.nav-is-visible ul {
    visibility: visible;
  }
  .cd-stretchy-nav2.nav-is-visible ul a::after {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-stretchy-nav2.nav-is-visible ul a.active {
    color: #ffffff;
  }
  .cd-stretchy-nav2.nav-is-visible ul a.active::after {
    opacity: 1;
  }
  .cd-stretchy-nav2.nav-is-visible ul a.active::before {
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
    -o-transform: translateX(3px) translateY(-50%) scaleY(1);
    transform: translateX(3px) translateY(-50%) scaleY(1);
    -webkit-transition: -webkit-transform 0.15s 0.3s;
    -moz-transition: -moz-transform 0.15s 0.3s;
    transition: transform 0.15s 0.3s;
  }
  .cd-stretchy-nav2.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    -moz-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
  }
  
  .cd-stretchy-nav2.nav-is-visible ul li:first-of-type a::after,
  .cd-stretchy-nav2.nav-is-visible ul li:first-of-type span {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
  }
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(2) a::after,
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(2) span {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(3) a::after,
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(3) span {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
  }
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(4) a::after,
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(4) span {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(5) a::after,
  .cd-stretchy-nav2.nav-is-visible ul li:nth-of-type(5) span {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
  

  .cd-stretchy-nav2.add-content {
    bottom: 50px;
    top: auto;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 300px;
  }
  .cd-stretchy-nav2.add-content .stretchy-nav-bg {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #8ac57f;
    -webkit-transition: width 0.2s, box-shadow 0.2s;
    -moz-transition: width 0.2s, box-shadow 0.2s;
    transition: width 0.2s, box-shadow 0.2s;
  }
  .cd-stretchy-nav2.add-content.nav-is-visible .stretchy-nav-bg {
    width: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  }
  
  .cd-stretchy-nav2.add-content .cd-nav-trigger2 {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #9acd91;
  }
  .cd-stretchy-nav2.add-content .cd-nav-trigger2 span {
    background-color: transparent;
  }
  .cd-stretchy-nav2.add-content .cd-nav-trigger2 span::before {
    /* used to create the plus icon */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .cd-stretchy-nav2.add-content .cd-nav-trigger2 span::after {
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .cd-stretchy-nav2.add-content.nav-is-visible .cd-nav-trigger2 {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  }
  .cd-stretchy-nav2.add-content.nav-is-visible .cd-nav-trigger2 span::before {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .cd-stretchy-nav2.add-content.nav-is-visible .cd-nav-trigger2 span::after {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }
  
  .cd-stretchy-nav2.add-content ul {
    padding-top: 0;
  }
  .cd-stretchy-nav2.add-content ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-stretchy-nav2.add-content ul li {
    display: inline-block;
    float: left;
    width: 60px;
  }
  .cd-stretchy-nav2.add-content ul li:nth-of-type(2) {
    /* space occupied by the navigation trigger */
    margin-right: 60px;
  }
  .cd-stretchy-nav2.add-content ul a {
    padding: 0;
    height: 60px;
    width: 100%;
  }
  .cd-stretchy-nav2.add-content ul a::after {
    top: 50%;
    left: 22px;
    right: auto;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    background-image: url(../img/cd-sprite-2.svg);
  }
  .cd-stretchy-nav2.add-content ul li:first-of-type a::after {
    background-position: -16px 0px;
  }
  .cd-stretchy-nav2.add-content ul li:nth-of-type(2) a::after {
    background-position: 0px 0px;
  }
  .cd-stretchy-nav2.add-content ul li:nth-of-type(3) a::after {
    background-position: -48px 0px;
  }
  .cd-stretchy-nav2.add-content ul li:nth-of-type(4) a::after {
    background-position: -32px 0px;
  }
  .cd-stretchy-nav2.add-content ul li:first-of-type a::after,
  .cd-stretchy-nav2.add-content ul li:nth-of-type(4) a::after {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .cd-stretchy-nav2.add-content ul li:nth-of-type(2) a::after,
  .cd-stretchy-nav2.add-content ul li:nth-of-type(3) a::after {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .cd-stretchy-nav2.add-content.nav-is-visible ul a::after {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
  
  .cd-stretchy-nav2.add-content ul span {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    padding: 0.6em 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    -moz-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
 
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-stretchy-nav2.add-content ul span::after {
   
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
  }
  
  .cd-stretchy-nav2.add-content.nav-is-visible ul span {
   
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  

  
  .cd-editable-content {
   
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
  }
  .cd-editable-content img {
    display: block;
    border-radius: .25em;
  }
  
  .cd-stretchy-nav2.edit-content {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .cd-stretchy-nav2.edit-content .stretchy-nav-bg {
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: none;
    -webkit-transition: background 0.2s, height 0.2s;
    -moz-transition: background 0.2s, height 0.2s;
    transition: background 0.2s, height 0.2s;
  }
  .cd-stretchy-nav2.edit-content.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* reset default style */
    box-shadow: none;
  }
  
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 {
    height: 30px;
    width: 30px;
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span {
    opacity: 0;
    background-color: transparent;
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span, .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span::before, .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span::after {
  
    width: 12px;
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2::after {
    
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-sprite-3.svg) no-repeat 0 0;
  }
  .cd-stretchy-nav2.edit-content .cd-nav-trigger2 span, .cd-stretchy-nav2.edit-content .cd-nav-trigger2::after {
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }

  
  .cd-stretchy-nav2.edit-content.nav-is-visible .cd-nav-trigger2 span {
    opacity: 1;
  }
  .cd-stretchy-nav2.edit-content.nav-is-visible .cd-nav-trigger2 span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-stretchy-nav2.edit-content.nav-is-visible .cd-nav-trigger2 span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .cd-stretchy-nav2.edit-content.nav-is-visible .cd-nav-trigger2::after {
  
    opacity: 0;
  }
  
  .cd-stretchy-nav2.edit-content ul {
    padding-top: 30px;
  }
  
  .cd-stretchy-nav2.edit-content ul a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
  }
  .cd-stretchy-nav2.edit-content ul a::after {
    right: 7px;
    background-image: url(../img/cd-sprite-3.svg);
  }
  
  .cd-stretchy-nav2.edit-content ul li:first-of-type a::after {
    background-position: -16px 0;
  }
  
  .cd-stretchy-nav2.edit-content ul li:nth-of-type(2) a::after {
    background-position: -32px 0;
  }
  
  .cd-stretchy-nav2.edit-content ul li:nth-of-type(3) a::after {
    background-position: -48px 0;
  }
  
  .cd-stretchy-nav2.edit-content ul li:nth-of-type(4) a::after {
    background-position: -64px 0;
  }
  
  .cd-stretchy-nav2.edit-content ul span {
    position: absolute;
    top: 0;
    right: 35px;
    height: 30px;
    line-height: 30px;
    padding: 0 1em;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 2px;
    text-align: center;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    -moz-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
  }
  .cd-stretchy-nav2.edit-content ul span::after {
    /* triangle below the tooltip */
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.55);
  }
  
  .cd-stretchy-nav2.edit-content.nav-is-visible ul span {
    /* reset default style */
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  
 
  .cd-main-content2 {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 100px 0;
    background-color: #003c5d;
  }
  

  .cd-stretchy-nav2 ul li{
      transition: 0.2s;
  }

  .cd-stretchy-nav2 ul li:hover{
      
      color: #0a9581;
      margin-right: 2px;
  }

  .menu2{
    display: block;
  }
  /* ////////////////////////////////////////////////////////////////////////////////////////////// */

  
  h2 {
    margin-top: 0;
    padding-top: .8em;
}

nav {
    position: relative;
    perspective: 600px;
}


.cool>li>a {
    color: rgb(255, 196, 0);
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
    
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cool>li {
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
}

.products {
    min-width: 55vw;
}

.trigger-enter .dropdown {
    display: block;
   
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.trigger-enter .product1 {
    display: flex;
}

.product1 li {
    margin: 0 10px;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    
}

.dropdownBackground.open {
    opacity: 1;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}

.bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.bio img {
    float: left;
    margin-right: 20px;
}

.courses {
    min-width: 300px;
}

.courses li {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.code {
    padding: 10px;
}

.dropdown a {
    text-decoration: none;
    color: #ffc600;
}

a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*=twitter] {
    background: #019FE9;
}

.button[href*=facebook] {
    background: #3B5998;
}

.button[href*=courses] {
    background: #ffc600;
}
.name{
    text-align: center;
    padding: 20px;
    background: #f6f9fce5;
}